<!-- Preload commonly used font variations -->

<!-- Roboto Slab -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/roboto-slab-latin-400.woff2"
  crossorigin="anonymous"
/>
<!-- TODO Use prefetch when more widely supported -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/roboto-slab-latin-700.woff2"
  crossorigin="anonymous"
/>

<!-- Fira Code -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/fira-code-latin-300.woff2"
  crossorigin="anonymous"
/>
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/fira-code-latin-400.woff2"
  crossorigin="anonymous"
/>
<!-- TODO Use prefetch when more widely supported -->
<link
  rel="preload"
  as="font"
  type="font/woff2"
  href="/fonts/fira-code-latin-700.woff2"
  crossorigin="anonymous"
/>
