{{ $themeContrast := .Param "themeContrast" | default "medium" }}
{{ $backgroundColor := "bg0" }}
{{ if eq $themeContrast "soft" }}
  {{ $backgroundColor = "bg0_s" }}
{{ else if eq $themeContrast "hard" }}
  {{ $backgroundColor = "bg0_h" }}
{{ end }}

:root[data-theme="light"] {
  --bg: var(--{{ $backgroundColor }});
  --bg0: #fbf1c7;
  --bg0_h: #f9f5d7;
  --bg0_s: #f2e5bc;
  --bg1: #ebdbb2;
  --bg2: #d5c4a1;
  --bg3: #bdae93;
  --bg4: #a89984;
  --fg: var(--fg1);
  --fg0: #282828;
  --fg1: #3c3836;
  --fg2: #504945;
  --fg3: #665c54;
  --fg4: #7c6f64;
  --gray1: var(--fg4);
  --gray2: #928374;
  --red1: #cc241d;
  --red2: #9d0006;
  --green1: #98971a;
  --green2: #797403;
  --yellow1: #d79921;
  --yellow2: #b57614;
  --blue1: #458588;
  --blue2: #076678;
  --purple1: #b16286;
  --purple2: #8f3f71;
  --aqua1: #689d6a;
  --aqua2: #427b58;
  --orange1: #d65d0e;
  --orange2: #af3a03;

  & .light--hidden {
    display: none;
  }
}

:root[data-theme="dark"] {
  --bg: var(--{{ $backgroundColor }});
  --bg0: #282828;
  --bg0_h: #1d2021;
  --bg0_s: #32302f;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;
  --fg: var(--fg1);
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
  --gray1: var(--fg4);
  --gray2: #928374;
  --red1: #cc241d;
  --red2: #fb4934;
  --green1: #98971a;
  --green2: #b8bb26;
  --yellow1: #d79921;
  --yellow2: #fabd2f;
  --blue1: #458588;
  --blue2: #83a598;
  --purple1: #b16286;
  --purple2: #d3869b;
  --aqua1: #689d6a;
  --aqua2: #8ec07c;
  --orange1: #d65d0e;
  --orange2: #fe8019;

  & .dark--hidden {
    display: none;
  }
}

:root {
  {{ $themeColor := .Param "themeColor" | default "blue" }}
  --primary: var(--{{ $themeColor }}1);
  --primary-alt: var(--{{ $themeColor }}2);
}
