:root {
  --font-monospace: "Fira Code", "Lucida Console", Monaco, monospace;
  --font-sans-serif: Verdana, Helvetica, sans-serif;
  --font-serif: "Roboto Slab", Georgia, serif;
}

html {
  font-family: var(--font-serif);
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--fg);
  line-height: 1.675;
  word-wrap: break-word;
}

strong {
  letter-spacing: 0.35px;
}

a {
  color: inherit;
  text-decoration: none;
}

a.link--external::after {
  /* 2009 = Thin Space */
  content: "\2009↗";
}

img,
video {
  border: 2px solid var(--bg1);
  height: auto;
  max-width: 100%;
}

figure {
  display: inline-block;
}

figcaption {
  color: var(--fg3);
  font-family: var(--font-serif);
  font-size: 0.9rem;
}

*::selection {
  color: var(--fg0);
  background: var(--bg4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--fg0);
  font-family: var(--font-monospace);
  font-weight: 300;
  line-height: 1.4;

  & code {
    font-size: 1em;
  }
}

h2,
h3,
h4,
h5,
h6 {
  border-bottom: 1px solid var(--bg1);
}

h1,
h2 {
  font-weight: 400;
}

h1 {
  font-size: 1.875rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.625rem;
}

@media (--md) {
  h1 {
    font-size: 2.375rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

table,
th,
td {
  border: 1px solid var(--bg1);
  padding: 0.5rem;
}

hr {
  border: none;
  background: var(--bg1);
  height: 1px;
  margin: 3rem auto;
  width: 80%;
}

mark {
  background: var(--yellow1);
  color: var(--bg0);
}

abbr {
  text-underline-offset: 0.2rem;
}

blockquote,
code,
kbd,
mark,
pre {
  border-radius: 0.2rem;
  padding: 0 0.2em;
}

pre code {
  padding: 0;
}

blockquote,
code,
kbd,
pre,
th {
  background: var(--bg1);
}

code,
kbd,
pre,
th {
  font-family: var(--font-monospace);
}

code,
kbd {
  & code,
  & kbd {
    background: var(--bg2);
  }
}

blockquote,
pre {
  padding: 1rem;
}

pre {
  /* TODO is !important really needed because of Prism? */
  background: var(--bg1) !important;
  overflow: auto;

  & code {
    background: none;
  }
}

blockquote,
blockquote.twitter-tweet {
  border-left: var(--primary-alt) 5px solid;
  margin: 0.5rem 0;

  & code {
    background: var(--bg2);
  }

  & p:first-of-type {
    margin-top: 0;
  }

  & p:last-of-type {
    margin-bottom: 0;
  }
}

blockquote.twitter-tweet {
  border-color: var(--blue2);
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit;

  & a {
    color: var(--blue2);
  }

  & a:hover {
    color: var(--blue1);
    text-decoration: none !important;
  }
}
