:root {
  --font-monospace: "Fira Code", "Lucida Console", Monaco, monospace;
  --font-sans-serif: Verdana, Helvetica, sans-serif;
  --font-serif: "Roboto Slab", Georgia, serif;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: var(--font-serif);
  font-size: 1.2rem;
}

body {
  background: var(--bg);
  color: var(--fg);
  line-height: 1.6;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-monospace);
  line-height: 1.4;
  font-weight: 300;
  color: var(--fg0);

  & code {
    font-size: 1em;
  }
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

table,
th,
td {
  border: var(--bg2) 1px solid;
  padding: 0.5rem;
}

hr {
  border: none;
  background: var(--bg4);
  height: 1px;
}

mark {
  background: var(--yellow1);
  color: var(--bg);
}

abbr {
  text-underline-offset: 0.2rem;
}

blockquote,
code,
kbd,
mark,
pre {
  border-radius: 0.2rem;
  padding: 0 0.2em;
}

blockquote,
code,
kbd,
pre,
th {
  background: var(--bg1);
}

code,
kbd,
pre,
th {
  font-family: var(--font-monospace);
  font-size: 0.9rem;
}

code,
kbd {
  & code,
  & kbd {
    background: var(--bg2);
    margin: 0 0.1rem;

    & code,
    & kbd {
      background: var(--bg3);

      & code,
      & kbd {
        background: var(--bg4);
      }
    }
  }
}

pre {
  background: var(--bg1) !important; /* TODO is this really needed? */
  padding: 1rem !important;
  overflow: auto;

  & code {
    background: none;
  }
}

pre::-webkit-scrollbar {
  width: auto;
  scrollbar-width: auto;
}

pre::-webkit-scrollbar-track {
  background: var(--bg2);
  border-radius: 0.2rem;
}

pre::-webkit-scrollbar-thumb {
  background: var(--bg4);
  border-radius: 0.2rem;
}

blockquote {
  border-left: var(--aqua2) 5px solid;
  padding: 0.5rem 1rem;
  margin: 0;
}
