:root {
  --font-monospace: "Fira Code", "Lucida Console", Monaco, monospace;
  --font-sans-serif: Verdana, Helvetica, sans-serif;
  --font-serif: "Roboto Slab", Georgia, serif;
}

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  font-family: var(--font-serif);
  font-size: 1.2rem;
}

body {
  background: var(--bg);
  color: var(--fg);
  line-height: 1.6;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-monospace);
  line-height: 1.4;
  font-weight: 300;
  color: var(--fg0);

  & code {
    font-size: 1em;
  }
}

h1 {
  font-size: 2.375rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.375rem;
}

h6 {
  font-size: 1.25rem;
}

.layout {
  display: grid;
  grid-template-areas:
    "bio header toc"
    "bio main toc"
    "footer footer footer";
  grid-template-columns: 1fr minmax(auto, 768px) 2fr;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  grid-area: main;
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

main,
footer {
  margin: 0.5em 1em;
}
