header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "nav theme-toggle";
  padding: 0.75rem;

  & .theme__toggle {
    align-items: center;
    background: none;
    border: none;
    color: var(--yellow1);
    cursor: pointer;
    display: flex;
    grid-area: theme-toggle;
    margin: 0 1rem;

    &:hover {
      color: var(--yellow2);
    }
  }

  & nav#menu {
    align-items: center;
    display: flex;
    font-family: var(--font-monospace);
    grid-area: nav;
    justify-content: space-between;

    & .menu__heading {
      color: var(--fg0);
      font-weight: 700;
      font-size: 1.3rem;
      margin: 0;

      &:hover::after {
        animation: 1s blink infinite;
        content: " █";
      }
    }

    & .menu__item {
      color: var(--fg1);

      &:hover {
        color: var(--fg4);
        cursor: pointer;
      }
    }

    & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    & ul.menu--horizontal {
      align-items: center;
      display: none;

      & li {
        display: inline-block;
        margin: 0 0.5rem;
      }

      @media (--sm) {
        display: flex;
      }
    }

    & ul.menu--vertical {
      background: var(--fg0);
      bottom: 0;
      margin: 0;
      padding: 3rem;
      position: fixed;
      right: 0;
      top: 0;
      transform: translate(100%, 0);
      transition: transform 0.5s cubic-bezier(0.9, 0, 0.1, 1);
      width: 50%;
      z-index: 10;

      & .menu__item {
        color: var(--bg1);

        &:hover {
          color: var(--bg4);
        }
      }
    }

    & .menu__burger {
      display: flex;
      height: 24px;
      width: 24px;

      & > * {
        position: absolute;
      }

      & svg {
        width: inherit;
        z-index: 20;
        height: inherit;

        & line {
          transition-duration: 0.5s;
          transition-property: color, opacity, transform;
          transition-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
        }

        & line:nth-of-type(1) {
          transform-origin: center 6px;
        }

        & line:nth-of-type(2) {
          transform-origin: center 12px;
        }

        & line:nth-of-type(3) {
          transform-origin: center 18px;
        }
      }

      & input {
        height: inherit;
        opacity: 0;
        width: inherit;
        z-index: 30;

        &:checked {
          & ~ ul.menu--vertical {
            transform: none;
          }

          & ~ svg {
            color: var(--bg1);

            & line:nth-of-type(1) {
              transform: translate(0, 6px) rotate(45deg);
            }

            & line:nth-of-type(2) {
              opacity: 0;
              transform: scale(0.2);
            }

            & line:nth-of-type(3) {
              transform: translate(0, -6px) rotate(-45deg);
            }
          }
        }
      }

      @media (--sm) {
        display: none;
      }
    }
  }
}

/*! Source: https://stackoverflow.com/a/36118384/1154965 */
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
