nav#menu {
  align-items: center;
  display: flex;
  font-family: var(--font-monospace);
  font-size: 0.9rem;

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      display: inline-block;
      margin: 0 0.5rem;
    }
  }

  & a {
    color: var(--gray2);
    text-decoration: none;
  }

  & a:hover,
  & a:focus {
    background: none;
    color: var(--gray1);
  }
}

.menu__heading {
  color: var(--fg0) !important;
  flex-grow: 1;
  font-weight: 700;
  font-size: 1.3rem;
  text-transform: none;
}

.menu__heading:hover::after {
  animation: 1s blink infinite;
  content: " █";
}

/*! Source: https://stackoverflow.com/a/36118384/1154965 */
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
