.home-menu {
  font-family: var(--font-monospace);
  font-size: 0.9rem;

  & a {
    color: var(--gray2);
  }

  & a:hover,
  & a:focus {
    background: none;
    color: var(--gray1);
  }

  & ul {
    float: right;
  }
}

.home-menu__heading {
  color: var(--fg0) !important;
  font-weight: 700;
  font-size: 1rem;
  text-transform: none;
}

.home-menu__heading:hover::after {
  content: " █";
  animation: 1s blink infinite;
}

/*! Source: https://stackoverflow.com/a/36118384/1154965 */
@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
