.post {
  padding: 2rem 0;
  border-bottom: var(--bg1) 2px dotted;
}

.post-header {
  font-family: var(--font-monospace);

  & h1 {
    font-weight: normal;
  }
}

.post-meta {
  color: var(--gray2);
}

.post-meta__author {
  font-weight: bold;
}

.post-content {
  margin: 1.3rem 0;
}

.post-content__read-more {
  color: var(--blue1);
  font-family: var(--font-monospace);
  margin-top: 1.3rem;
}

.post-header,
.post-content {
  & a {
    color: var(--blue1);
    text-decoration: none;
  }

  & a:hover {
    color: var(--blue2);
  }
}

.post-tag::before {
  color: var(--blue2);
  content: "#";
}
