.sidebar {
  font-family: var(--font-monospace);
  font-size: 0.9rem;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;

  & a {
    color: var(--aqua2);
    text-decoration: none;
  }

  & a:hover {
    color: var(--aqua1);
  }

  & .sidebar__heading {
    font-size: 1.25rem;
  }
}

aside.toc {
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      line-height: 1.1;

      & a {
        display: block;
        padding: 0.2rem 0;
      }
    }
  }
}

aside.bio {
  text-align: center;

  & .bio__description {
    color: var(--fg4);
    font-style: italic;
  }

  & .bio__avatar {
    background: var(--bg1);
    border: 2px solid var(--bg2);
    border-radius: 50%;
    margin: auto;
    width: 80%;
    padding-top: 80%;
  }

  & .bio__socials {
    display: flex;
    justify-content: space-around;

    & svg {
      height: 20px;
      width: 20px;
      fill: var(--fg4);
    }

    & svg:hover {
      fill: var(--fg);
    }
  }
}
