.sidebar {
  font-family: var(--font-monospace);
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;

  & .sidebar__heading {
    font-size: 1.3rem;
  }

  & svg {
    fill: var(--fg);
  }
}

aside.toc {
  & a {
    color: var(--aqua2);
  }

  & a:hover {
    color: var(--aqua1);
  }

  & ul {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
      line-height: 1.1;

      & a {
        display: block;
        padding: 0.2rem 0;
      }
    }
  }
}

aside.bio {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  & a:hover {
    color: var(--gray1);

    & svg {
      fill: var(--gray1);
    }
  }

  & hr {
    margin: 1.5rem auto;
  }

  & svg {
    height: 22px;
    width: 22px;
  }

  & .bio__avatar {
    background: var(--bg1);
    border: 2px solid var(--bg2);
    border-radius: 50%;
    height: 250px;
    overflow: hidden;
    width: 250px;

    & img {
      height: auto;
      width: 100%;
    }
  }

  & .bio__description {
    color: var(--gray1);
    font-style: italic;
  }

  & .bio__social,
  & .bio__social-item {
    display: flex;
  }

  & .bio__social--col {
    flex-direction: column;
  }

  & .bio__social--row {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  & .bio__social-icon {
    padding: 0 0.75rem;
  }
}
