footer {
  align-items: center;
  color: var(--fg3);
  display: flex;
  font-family: var(--font-monospace);
  font-size: 0.8rem;
  justify-content: center;
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  text-align: center;
}
