.pagination {
  display: flex;
  margin-top: 2rem;
}

.pagination__button {
  color: var(--blue);
  font-family: var(--font-monospace);
  font-size: 1.125rem;
}

.pagination__button:hover {
  color: var(--lavender);
}

.pagination__button--next {
  margin-left: auto;
}
