.cv .icon {
  height: 1rem;
  width: 1rem;
}

.cv__heading {
  align-items: center;
  display: flex;

  & .icon {
    height: 1.75rem;
    margin-right: 1rem;
    width: 1.75rem;
  }
}

@media (--md) {
  .cv__heading .icon {
    height: 2rem;
    width: 2rem;
  }
}

.cv__duration,
.cv__location {
  display: flex;
  align-items: center;

  & .icon {
    margin-right: 0.25rem;
  }
}

.cv__position {
  font-size: 1.25rem;
}
