<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} :: {{ end }}{{ end }}{{ .Site.Title }}{{ with .Site.Params.Subtitle }} — {{ . }}{{ end }}</title>
  <meta
    name="description"
    content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary | plainify }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}{{ end }}"
  />
  <link rel="canonical" href="{{ .Permalink }}" />

  {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "node_modules/myscss")) }}
  {{ $style := resources.Get "sass/stylesheets/main.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
</head>
