<div class="post-header">
  <h1>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
  </h1>

  <div class="post-meta">
    {{ with .Date }}
      <span>{{ .Format "2006-01-02" }}</span>
    {{ end }}
    {{ with .Params.Author }}
      <span>by</span>
      <span class="post-meta__author">{{ . }}</span>
    {{ end }}
    <!-- Only display edit date if (.Lastmod - .Date) greater or equal to $diffDays -->
    {{ $diffDays := 1 }}
    {{ if and .Date .Lastmod (ge (sub .Lastmod.YearDay .Date.YearDay) $diffDays) }}
      <span>|</span>
      <span>edit: {{ .Lastmod.Format "2006-01-02" }}</span>
    {{ end }}
    {{ with .Params.tags }}
      <span>|</span>
      {{ range . }}
        <span>
          <a
            class="post-tag"
            href="{{ urlize (printf "tags/%s" . ) | absURL }}"
          >
            {{- . -}}
          </a>
        </span>
      {{ end }}
    {{ end }}
    {{ if .Params.cover }}
      {{ partial "image.html" (dict "page" . "src" .Params.cover.src "alt"  .Params.cover.src "caption"  .Params.cover.caption) }}
    {{ end }}
  </div>
</div>
