{{ range $pageIndex, $page := .Pages }}
  <article class="post">
    {{ partial "post-header.html" (dict "page" . "pageIndex" $pageIndex) }}
    <div class="post-content">
      <span>
        {{ with .Description }}
          {{ . }}
        {{ else }}
          {{ .Summary }}
          {{ if .Truncated }}
            <div class="post-content__read-more">
              <a href="{{ .RelPermalink }}">Read more ></a>
            </div>
          {{ end }}
        {{ end }}
      </span>
    </div>
  </article>
{{ end }}

{{ partial "pagination.html" . }}
