<div class="sidebar">
  {{ if .Params.toc }}
    {{ with .TableOfContents }}
      <aside class="toc">
        <nav>
          <p class="sidebar__heading">Table Of Contents</p>
          {{ . }}
        </nav>
      </aside>
      <hr />
    {{ end }}
  {{ end }}

  {{ with $.Site.Params.bio }}
    <aside class="bio">
      {{ with .avatarURL }}
        <div class="bio__avatar">
          <img src="{{ . }}" alt="Author profile picture" />
        </div>
      {{ end }}


      <p class="sidebar__heading">
        {{ $.Site.Params.Author }}
      </p>

      {{ with .description }}
        <p class="bio__description">{{ . }}</p>
      {{ end }}

      {{ with where .social "label" "ne" nil }}
        <hr />
        <div class="social social--col">
          {{ range . }}
            {{ partial "social-icon" (dict "URL" .URL "icon" .icon "label" .label) }}
          {{ end }}
        </div>
      {{ end }}
      {{ with where .social "label" "eq" nil }}
        <hr />
        <div class="social social--row">
          {{ range . }}
            {{ partial "social-icon" (dict "URL" .URL "icon" .icon "label" .label) }}
          {{ end }}
        </div>
      {{ end }}
    </aside>
  {{ end }}
</div>
