{{ $cv := $.Site.Data.cv }}


<div class="cv">
  {{ with $cv.work }}
    {{ partial "cv/work" . }}
  {{ end }}

  {{ with $cv.volunteer }}
    {{ partial "cv/volunteer" . }}
  {{ end }}

  {{ with $cv.education }}
    {{ partial "cv/education" . }}
  {{ end }}

  {{ with $cv.awards }}
    {{ partial "cv/awards" . }}
  {{ end }}

  {{ with $cv.certificates }}
    {{ partial "cv/certificates" . }}
  {{ end }}

  {{ with $cv.publications }}
    {{ partial "cv/publications" . }}
  {{ end }}

  {{ with $cv.skills }}
    {{ partial "cv/skills" . }}
  {{ end }}

  {{ with $cv.languages }}
    {{ partial "cv/languages" . }}
  {{ end }}

  {{ with $cv.interests }}
    {{ partial "cv/heading.html" (dict "tablerIcon" "heart" "heading" "Interests") }}
    <ul>
      {{ range . }}
        <li></li>
      {{ end }}
    </ul>
  {{ end }}

  {{ with $cv.references }}
    {{ partial "cv/heading.html" (dict "tablerIcon" "thumb-up" "heading" "References") }}
    <ul>
      {{ range . }}
        <li></li>
      {{ end }}
    </ul>
  {{ end }}
</div>
