{{ partial "cv/heading" (dict "tablerIcon" "school" "heading" "Education") }}
{{ range . }}
  <div class="cv__item">
    <div class="cv__position">
      <strong>{{ .area }} ({{ .studyType }})</strong>
      {{ if .institution }}
        <span>—</span>
        {{ if .url }}
          <a href="{{ .url }}">
            {{ .institution }}
          </a>
        {{ else }}
          <span>{{ .institution }}</span>
        {{ end }}
      {{ end }}
    </div>
    {{ partial "cv/duration" . }}
    <p>
      {{ .score }}
    </p>
    <p>
      {{ with .courses }}
        <ul>
          {{ range . }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      {{ end }}
    </p>
  </div>
{{ end }}
