{{ partial "cv/heading.html" (dict "tablerIcon" "file-text" "heading" "Publications") }}
{{ range . }}
  <div class="cv__item">
    <div class="cv__position">
      <strong>
        {{ if .url }}
          <a href="{{ .url }}">
            {{ .name }}
          </a>
        {{ else }}
          <span>{{ .name }}</span>
        {{ end }}
      </strong>
      <span>—</span>
      <span>{{ .publisher }}</span>
    </div>
    <div class="cv__duration">
      {{ partial "icons/tabler-icon" "clock" }}
      <span>{{ .releaseDate }}</span>
    </div>
    <p>{{ .summary }}</p>
  </div>
{{ end }}
