{{ range . }}
  <div class="cv__work-item">
    <div class="cv__work-position">
      <strong>{{ .position }}</strong>
      {{ if .name }}
        <span>,</span>
        {{ if .url }}
          <a href="{{ .url }}">
            {{ .name }}
          </a>
        {{ else }}
          <span>{{ .name }}</span>
        {{ end }}
      {{ end }}
      {{ with .description }}
        <span>,</span>
        <span>{{ . }}</span>
      {{ end }}
    </div>
    <div class="cv__work-date">
      <span>{{ .startDate }}</span>
      <span>—</span>
      <span>{{ .endDate }}</span>
    </div>
    <div class="cv__work-details">
      <p></p>
      <p>
        {{ .summary }}
      </p>
      {{ with .highlights }}
        <ul>
          {{ range . }}
            <li>{{ . }}</li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
  </div>
  <hr />
{{ end }}
