{{ $cv := $.Site.Data.cv }}

{{ with $cv.work }}
  <h2>Work</h2>
  <ul>
    {{ range . }}
      <li>
        <span>{{ .startDate }}</span>
        <span>—</span>
        <span>{{ .endDate }}</span>
      </li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.volunteer }}
  <h2>Volunteer</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.education }}
  <h2>Education</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.awards }}
  <h2>Awards</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.certificates }}
  <h2>Certificates</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.publications }}
  <h2>Publications</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.skills }}
  <h2>Skills</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.languages }}
  <h2>Languages</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.interests }}
  <h2>Interests</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}

{{ with $cv.references }}
  <h2>References</h2>
  <ul>
    {{ range . }}
      <li></li>
    {{ end }}
  </ul>
{{ end }}
